{% extends 'base.html' %}
{% load  static %} 
{% block content %}
<script src="{% static 'feedpage/index.js' %}"></script>
<div>
  태그
  <div class="tag-list">
    {% for tag in tags %}
      <a href="{% url 'tag:read' id=tag.id %}">{{ tag.content }}</a>
    {% endfor %}
  </div>
  {% if user.is_authenticated %}
    <input class="tag-input" type="text" name="content"/>
    <button onClick="onAddTag()">태그 추가</button>
  {% endif %}
</div>
<h1>feed page</h1>
{% if user.is_authenticated %}
  <a href="{% url 'feedpage:new' %}">new feed</a>
{% endif %}
{% for feed in feeds %}
  <div style="border: 1px solid grey;" class="feed-{{feed.id}}">
    <button class="{{feed.id}}-like-button" onClick="onLikeFeed({{feed.id}})">{{ feed.like_users.count }} Likes</button>    
    <a href="/feeds/{{ feed.id }}/">더보기</a>
    {% if request.user == feed.author %}
      <button onclick="onDeleteFeed({{feed.id}})">삭제</button>
    {% endif %} 
    <p>{{ feed.title }}</p>
    <p>{{ feed.content }}</p>
  </div>
{% endfor %}
{% endblock content %}