{% extends 'base.html' %}
{% load  static %} 
{% block content %}
<script src="{% static 'feedpage/show.js' %}"></script>
<div>
  <a href="{% url 'feedpage:index' %}">home</a>
  <a href="{% url 'feedpage:edit' id=feed.id %}">edit</a>
  <h1>{{ feed.title }}</h1>
  <p>{{ feed.content }}</p>
  <div>  <!--여기부터 추가-->
    태그
    {% for tag in tags %}
      <a href="{% url 'tag:read' id=tag.id %}">{{ tag.content }}</a>
    {% endfor %}
  </div> <!--여기까지 추가-->
  <div class="{{feed.id}}-comment-list">
    {% for c in feed.comment_set.all %}
      <div class="{{feed.id}}-{{c.id}}">
        <p>{{ c.content }}</p>
        {% if request.user == c.author %}
            <button onClick="onDeleteComment({{feed.id}}, {{c.id}})">댓글 삭제</button>      
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% if user.is_authenticated %}
      <input class="{{feed.id}}-comment-input" type="text" name="content" />
      <button onClick="onAddComment({{feed.id}})">댓글 달기</button>
  {% endif %} 
</div>
{% endblock content %}